.button {
  width: 4em;
  height: 4em;
}

.secondary {
  background: black;
}

.disabled {
  background: #f3f3f3;
}

.primary {
  background: #f3f3f3;
}

.danger {
  background: #f3f3f3;
  width: 8.5em;
  font-family: "Anek Malayalam", sans-serif;
  font-weight: 700;
  box-shadow: 1px 1px #E3E3DE;
}
